@font-face {
    font-family: Gilroy;
    src: url('Gilroy-Light.otf');
}

body {
    font-family: 'Gilroy', Fallback, sans-serif;
    background-color: #304b66;
}

head {
    font-family: 'Gilroy', Fallback, sans-serif;
}

input {
    font-family: 'Gilroy', Fallback, sans-serif;
}

/* CSS */
.button-34 {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Gilroy', Fallback, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

:root {
    --gray: #34495e;
    --darkgray: #2c3e50;
}

select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
    break-after: always;
}

/* Transition */
.select:hover::after {
    color: #5E5DF0;
}

h1 {
    margin: 0 0 0.25em;
}

a {
    font-weight: bold;
    color: var(--gray);
    text-decoration: none;
    padding: .25em;
    border-radius: .25em;
    background: white;
}